<h3 style="color: darkblue;">Why AdBazzar</h3>
                            <div class="media">
                                <div class="media-body">
                                    <h4 style="color: darkblue;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> Unmatched Solutions</h4>
                                    <p>Team AdBazzar works completely alongside the customers in order to provide them with the best possible solutions.</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <h4 style="color: darkblue;"><i class="fa fa-check-square" aria-hidden="true"></i> Quality Assurance</h4>
                                    <p>Our Team conducts high-level quality checks at every phase of the project delivering the best quality solutions.</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <h4 style="color: darkblue;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Timely Deliveries</h4>
                                    <p>
                                        All our projects are delivered on or before time, marking us as the best in industry fortimely deliveries.
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-body">
                                    <h4 style="color: darkblue;"><i class="fa fa-envelope" aria-hidden="true"></i> 100% Customer Support</h4>
                                    <p>Our complete team works towards providing the client with all the best support system at every phase of their project/ product at any hour of a day.</p>
                                </div>
                            </div>