{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}AdBazzar Media{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/lightbox.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{% static 'images/Logo_ad.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/ico/apple-touch-icon-57-precomposed.png' %}">
</head><!--/head-->
<body>
    {% block header %}
        {% include 'includes/_header.html' %}
    {% endblock %}

      {% include 'includes/_alerts.html' %}


      {% block content-wrapper %}
            {% block content %}
            <section class="hatson">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{% static 'vid.mp4' %}" type="video/mp4">
    <source src="{% static 'vid.ogg' %}" type="video/mp4">
  </video>
</section>
                
<style type="text/css">
.hatson{
    height: 490px;
}
    section {
  position: relative;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}
</style>
</div>

    <!--/#home-slider-->

    <section id="services" class="corporate">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="https://www.techombay.com/wp-content/uploads/2017/02/adsupply-display-advertising-network-top-25-comscore-adsupply-logo-800px.png" style="width: 200px; height: 100px;" alt="">
                        </div>
                        <h2>Advertising </h2>
                        <p>The advertisement is one of the most important components for the bench marking of a brand&#8217;s value in the market.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="https://www.aberdeen.com/wp-content/uploads/2016/08/B2B_branding.jpg" alt="" style="width: 200px; height: 100px;">
                        </div>
                        <h2>Brand Management</h2>
                        <p>With the collaboration of good strategy and good creativity, branding paves its pathway for a successful online business venture.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="https://6ce7249d60697cecb233-c2e8d057e491f208ac0828a45bc359e1.ssl.cf1.rackcdn.com/wp-content/uploads/2016/08/account-based-marketing.png" alt="" style="width: 200px; height: 100px;">
                        </div>
                        <h2>Marketing</h2>
                        <p>ADBAZZAR specialises in the implementation of the correct marketing strategies to enhance the name of the business and make it a brand.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="http://www.sclance.com/pngs/events-png/events_png_453975.png" alt="" style="width: 200px; height: 100px;">
                        </div>
                        <h2>Exhibitions and Events</h2>
                        <p>Whether it is a form of B2B or B2C or meeting up a corporate branding task, ADBAZAR provides a top-notch solution for your exhibitions and events.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="http://www.pngmart.com/files/7/Digital-Marketing-PNG-File.png" alt="" style="width: 200px; height: 100px;">
                        </div>
                        <h2>Digital Marketing</h2>
                        <p>Build relationships and not links .It is one of the foremost aims of digital marketing.Before implementing the right ideas, it is important to chalk out the strategies.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="http://megatronprint.com/uploads/posts/2017-11/1510541877_2-2-web-design-png-image.png" alt="" style="width: 200px; height: 100px;">
                        </div>
                        <h2>Website and Digital Media</h2>
                        <p>In the virtual sphere, we are able to gain all the necessary information and services. A website plays a crucial role in gaining recognition in the online marketing industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#services-->

    <section id="action" class="responsive">
        <div class="vertical-center">
             <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Interested in a deal?</h1>
                            <p></p>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="/tour" class="btn btn-common">TAKE THE TOUR</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

   
     <!--/#features-->

    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <p><img src="{% static 'images/home/clients.png' %}" class="img-responsive" alt=""></p>
                        <h1 class="title">Happy Clients</h1>
                        <p><br></p>
                    </div>
                    <div class="clients-logo wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                            <a href="http://bye.org.in/"><img src="{% static 'images/clients/1.jpg' %}" style="width: 100px; height: 100px;" class="img-responsive" alt=""></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                            <a href="https://www.facebook.com/therealtourtravel/"><img src="{% static 'images/clients/2.jpg' %}" style="width: 100px; height: 100px;" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                            <a href="https://www.loudroarfims.com"><img src="{% static 'images/clients/3.jpg' %}" style="width: 100px; height: 100px;" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                            <a href="http://thefirangipani.com/"><img src="{% static 'images/clients/4.jpg' %}" style="width: 100px; height: 100px;" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                            <a href="https://www.colinkers.in"><img src="{% static 'images/clients/5.jpg' %}" style="width: 100px; height: 100px;" class="img-responsive" alt=""></a>
                        </div>
                         <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                            <a href="https://www.approapp.com"><img src="{% static 'images/clients/6.jpg' %}" style="width: 100px; height: 100px;" class="img-responsive" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </section>




            {% endblock %}
      {% endblock %}

      {% include 'includes/_footer.html' %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>   
</body>
</html>
